<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex box</title>
    <link rel="stylesheet" href="/css/styles.css" >
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <script src="https://kit.fontawesome.com/fe28106437.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    <h1 class="title">I love New York </h1>
    </header>

    <main>
    <div class="conteiner">
       <div class="card">
        <img src="img/edificios.jpg" alt="">
        <h4>Ciudad</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas suscipit, quibusdam quis libero ipsum qui minima itaque at, ex assumenda corrupti error perspiciatis voluptatibus facere tempore, et odio temporibus eos!</p>
        <a href="#">Leer mas</a>
       </div>
       
       <div class="card">
        <img src="img/puente.jpg" alt="">
        <h4>Puente</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas suscipit, quibusdam quis libero ipsum qui minima itaque at, ex assumenda corrupti error perspiciatis voluptatibus facere tempore, et odio temporibus eos!</p>
        <a href="#">Leer mas</a>
        </div>
       
       <div class="card">
        <img src="img/paisaje.jpg" alt="">
        <h4>Paisajes</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas suscipit, quibusdam quis libero ipsum qui minima itaque at, ex assumenda corrupti error perspiciatis voluptatibus facere tempore, et odio temporibus eos!</p>
        <a href="#">Leer mas</a>
       </div>
    </div>
    </main>
    
</body>
</html>